<div class="about-area ptb-100 pb-70 hth-100" id="about" style="background-color: #4f97a5;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="secTitle">
          <h2 class="text-center mb-4">ABOUT US</h2>
          <div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-12">
            <div class="section-title text-left" style="height: 280px;">

              <div class="pt-2">
                <p class="ap1s textIndent1">We are a startup company founded in Silicon Valley of India Bangalore focusing on developing software products to provide value added insights in their modernization journey, provide visibility into their application portfolio and assist them in their journey. We partner with large service organizations to leverage our products portfolio for their customer’s modernization journey.</p>
                <p class="ap1s">Started by three founders who have more than 20+ years of extensive experience in Digital transformation, Application assessment, migration and modernization of enterprises.</p>
              </div>
            </div>
          </div>
          <!-- <div class="col-12 col-md-3">
            <img src="./assets/img/appModz.jpg" class="w-100" style="min-height: 280px;">
          </div> -->

        </div>
        <!-- <div class="row">
          <div class="col-12 col-md-4">
            <div class="bgVis">
              <h2>Vision</h2>
              <p>
                To be an international and domestic leader in offering world class and value-added products & services
                in oil, gas & energy sectors.
              </p>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="bgVis">
              <h2>Mission</h2>
              <p>Our mission is to exploit lucrative opportunities in oil & gas sector. We will target to accomplish our
                mission through multiple channels including acquisitions, taking equity positions, joint ventures, and
                by participating g in green-field projects. We also, thrive to excel in our future targeted endeavors
                and potential projects in energy sector.</p>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="bgVis">
              <h2>Our Values</h2>
              <ol style="list-style-type: inherit;font-size: 16px;text-align: left;">
                <li>Integrity</li>
                <li>Reliability</li>
                <li>Owenership</li>
                <li>Teamwork</li>
                <li>Credibility</li>
              </ol>
            </div>
          </div>
        </div> -->

      </div>
    </div>